.sconsign.dblite
c/smile
a.out
*.c.out
*.o
Makefile.in
aclocal.m4
autom4te.cache/
m4
autoscan.log
compile
config.h.in
config.h.in~
config.log
configure
depcomp
install-sh
missing
src/.deps/
stamp-h1
config.h
config.status
.dirstamp
.deps
Makefile
mkmf.log
.libs/
config.guess
config.sub
*.la
*.so
libtool
ltmain.sh
*.lo
*.bundle
c/src/smile
c/test/smile_tests
*.debhelper.log
c/build-stamp
c/debian/libsmile-0-dbg/
c/debian/libsmile-0-dev/
c/debian/libsmile-0/
c/debian/smile-doc.substvars
c/debian/smile-doc/
c/debian/smile/
c/debian/tmp/
c/debian/files
c/debian/libsmile-0-dbg.substvars
c/debian/libsmile-0-dev.substvars
c/debian/libsmile-0.postinst.debhelper
c/debian/libsmile-0.postrm.debhelper
c/debian/libsmile-0.substvars
c/debian/smile.substvars
libsmile-0-dbg_0.0.1-1_amd64.deb
libsmile-0-dev_0.0.1-1_amd64.deb
libsmile-0_0.0.1-1_amd64.deb
libsmile_0.0.1-1.dsc
libsmile_0.0.1-1.tar.gz
libsmile_0.0.1-1_amd64.build
libsmile_0.0.1-1_amd64.changes
smile-doc_0.0.1-1_all.deb
smile_0.0.1-1_amd64.deb
