.sconsign.dblite
c/smile
a.out
*.c.out
*.o
Makefile.in
aclocal.m4
autom4te.cache/
m4
autoscan.log
compile
config.h.in
config.h.in~
config.log
configure
depcomp
install-sh
missing
src/.deps/
stamp-h1
config.h
config.status
.dirstamp
.deps
mkmf.log
.libs/
config.guess
config.sub
*.la
*.so
libtool
ltmain.sh
*.lo
*.bundle
c/src/smile
c/test/smile_tests
unsmile
libsmile.a
test.sh
unsmile.dSYM/
php/libsmile.php
php/libsmile_wrap.c
php/php_libsmile.h
ruby/build/Makefile
ruby/build/libsmile_wrap.c
